{% extends "base.html" %}
{% block title %}Course List{% endblock %}
{% block content %}
<div class="table-responsive">
    <table class="table table-striped table-hover table-borderless table-sm table-dark border-dark">
        <thead>
            
                <tr>
                    
                        <th scope="col">Course Number</th>
                        <th scope="col">Course Name</th>
                </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"><a href="/course_details">AAS 100</a></th>
                <td><a href="/course_details">Intro Asian American Studies</a></td>
            </tr>
            <tr>
                <th scope="row">CHEM 534</th>
                <td>Advanced Organic Synthesis</td>
            </tr>
            <tr>
                <th scope="row">HIST 172</th>
                <td>US History Since 1877</td>
            </tr>
            <tr>
                <th scope="row">SOCW 410</th>
                <td>Social Welfare Pol and Svcs</td>
            </tr>
            <tr>
                <th scope="row">MATH 415</th>
                <td>Applied Linear Algebra</td>
            </tr>
            <tr>
                <th scope="row">HIST 172</th>
                <td>US History Since 1877</td>
            </tr>
            <tr>
                <th scope="row">ANSC 446</th>
                <td>Population Genetics</td>
            </tr>
            <tr>
                <th scope="row">HIST 172</th>
                <td>US History Since 1877</td>
            </tr>
        </tbody>

    </table>
</div>
{% endblock %}
