{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block content %}
<!-- <img src="/static/images/stressed.jpg" alt="stressed students" /> -->

<div id="aboutus-div">

  <div style="margin-bottom: 50px;">
    <h1 id="aboutus-title"> About Us </h1>
    <hr/>
    <p id="aboutus-body"> 
      Have you ever dreaded selecting your courses each semester? ICD was built by UIUC students to help students reduce this dread. For a given course, ICD provides you with all
      the necessary data such as recent semester grade distributions and both links to RateMyProfessor ratings and Reddit posts. In summary, this platform is the all in one place
      to help students make informed decisions regarding course selection.
    </p>
  </div>

  <div style="margin-bottom: 50px;">
    <img src="/static/images/uiuc-cs.png" alt="uiuc-cs" style="display: block; margin: 0 auto; width: 10%; height: auto; " />
  </div>

  <div id="">
    <div class="row align-items-center text-center" style="margin-top: 16px;">
      <h3 id="meetourteam-title">ICD Developers</h3>
      <hr style = "border: 0;
        border-top: 3px solid;
        width: 8%;
        margin: auto; margin-bottom: 30px; ">
    </div>

    <div class="row align-items-center text-center">
      <div class="col-sm"></div>
      <div class="col-sm">
        <figure class="figure">
          <img src="/static/images/Bryan.jpg" alt="Bryan" width="120" height="120" class="profile_img" style="border: 2px solid #06064a; margin-bottom: 6px;" />
          <figcaption class="figure-caption text-center" style="font-size: 18px; color: black;">Bryan Finn</figcaption>
          <!-- <figcaption class="figure-caption text-center" style="color: black;">ICD Developer</figcaption> -->
        </figure>
      </div>
      <div class="col-sm">
        <figure class="figure">
          <img src="/static/images/Dherya.jpg" alt="Dherya" width="120" height="120" class="profile_img" style="border: 2px solid #06064a; margin-bottom: 6px;"/>
          <figcaption class="figure-caption text-center" style="font-size: 18px; color: black;">Dherya Jalan</figcaption>
          <!-- <figcaption class="figure-caption text-center" style="color: black;">ICD Developer</figcaption> -->
        </figure>
      </div>
      <div class="col-sm">
        <figure class="figure">
          <img src="/static/images/Jay.png" alt="Dherya" width="120" height="120" class="profile_img" style="border: 2px solid #06064a; margin-bottom: 6px;"/>
          <figcaption class="figure-caption text-center" style="font-size: 18px; color: black;">Jaywoo Jo</figcaption>
          <!-- <figcaption class="figure-caption text-center" style="color: black;">ICD Developer</figcaption> -->
        </figure>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>

  

</div>



{% endblock %}
