{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block content %}
<img src="/static/images/stressed.jpg" alt="stressed students" />
<h1>Have you ever dreaded selecting your courses each semester?</h1>
<p> ICD was built by UIUC students for students to reduce the dread. ICD provides you with all
  the necessary data about a UIUC course such as past semester grade distributions and reviews
  from RateMyProfessor and popular Reddit posts. In summary, this platform is the all in one place
  to help students make informed decisions regarding course selection.
</p>

<div class="container">
  <div class="row align-items-center text-center">
    <h3>Meet our Team</h3>
  </div>
  <div class="row align-items-center text-center">
    <div class="col-sm"></div>
    <div class="col-sm">
      <figure class="figure">
        <img src="/static/images/Bryan.jpg" alt="Bryan" width="100" height="100" class="profile_img" />
        <figcaption class="figure-caption text-center">Bryan Finn</figcaption>
        <figcaption class="figure-caption text-center">ICD Developer</figcaption>
      </figure>
    </div>
    <div class="col-sm">
      <figure class="figure">
        <img src="/static/images/Dherya.jpg" alt="Dherya" width="100" height="100" class="profile_img" />
        <figcaption class="figure-caption text-center">Dherya Jalan</figcaption>
        <figcaption class="figure-caption text-center">ICD Developer</figcaption>
      </figure>
    </div>
    <div class="col-sm"></div>
  </div>
</div>



<div class="container">
  <div class="row">
    <h2 class="text-center">Try it out</h2>
  </div>
  <div class="row height d-flex justify-content-center align-items-center">
    <div class="col-md-8">
      <div class="search">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control" placeholder="Search course">
        <button class="btn btn-primary">Search</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
