<!-- This is the base HTML file -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <title>{% block title %}{% endblock %} - ICD Course Data</title>
    <link rel="shortcut icon" href="/static/images/icd_logo-blue-roundcorner.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/custom.css">
  </head>
  <body class="bg-light text-dark">
        <!-- <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;"> -->
        <nav class="navbar navbar-dark navbar-expand-lg" style="background-color: #06064A;"> 
            <a href ="#" class="navbar-brand d-inline-block d-flex">
                <img src="/static/images/icd_logo-blue-roundcorner-bordershadow.png" alt="ICD Logo" width="35" height="35" class="align-top"/>
                <span class="align-self-center ms-1">Illini Course Data</span>
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu" aria-controls="toggleMobileMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="toggleMobileMenu">
                <ul class="navbar-nav ml-auto text-center">
                    <li>
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li>
                        <!-- <a class="nav-link" href="/course_list">Course List</a> -->
                    </li>
                    <li>
                        <a class="about-us nav-link mr-sm-2" href="/about_us">About Us</a> 
                    </li>
                </ul>
            </div>

            <div class="github-logo nav-item">
                <a class="nav-link p-2" href="https://github.com/CS222-UIUC/course-project-group-negative-4">
                    <img src="/static/images/output-onlinepngtools.png" alt="ICD Logo" width="25" height="25" class="align-top"/>
                </a>
            </div>


        </nav>

        

    
    </body>
    <!-- ALLOW NEW CONTENT TO BE ADDED TO BASE -->
    <div class="div">{% block content %} {% endblock %}</div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

</html>